<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Welcome to {{ site.title }}</h1>
            <hr>
            <p>The approved Company Auditors and licensed Tax Agent located in Johor, Malaysia.</p>
            <p>We are specialized in assisting business owners/ companies to settle their company account auditing company taxation accounting and company secretarial affairs.</p>
            <a href="#contact" class="btn btn-primary btn-xl page-scroll">Contact Us to Find Out More</a>
        </div>
    </div>
</header>
